<div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
  <div class="carousel-inner">
    <div class="active item">
      <figure>
        <img {{bind-attr src=currentPost.image}}>
        <figcaption>{{currentPost.title}}</figcaption>
      </figure>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next" {{action 'nextPost'}}>
      <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<hr>

<div class="row col-md-12">

  {{#each post in model}}
    <div class="col-md-3">
      <figure>
        <img src="../img/{{unbound post.image}}">
        <figcaption>{{post.title}}</figcaption>
      </figure>
    </div>
  {{/each}}

</div>


<hr>

<!-- <div class="main-display">
  <div class="row">
    <figure>
      {{#link-to 'gorilla'}}
      <img src="img/gorilla.jpg" alt="">
      <figcaption>Mountain Gorillas from Rwanda!</figcaption>
      {{/link-to}}
    </figure>
    <figure>
      {{#link-to 'lion'}}
      <img src="img/lion.jpg" alt="">
      <figcaption>Lions of the Serengeti!</figcaption>
      {{/link-to}}
    </figure>
  </div>
  <div class="row">
    <figure>
      {{#link-to 'lizard'}}
      <img src="img/lizard.jpg" alt="">
      <figcaption>Lizards and more!</figcaption>
      {{/link-to}}
    </figure>
    <figure>
      {{#link-to 'warthog'}}
      <img src="img/warthog.jpg" alt="">
      <figcaption>Warthogs are awesome!</figcaption>
      {{/link-to}}
    </figure>
  </div>
</div> -->
