<div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
  <div class="carousel-inner">
    <div class="active item">
      <figure>
        {{#link-to 'post' currentPost}}
          <img {{bind-attr src=currentPost.image}}>
          <figcaption>{{currentPost.title}}</figcaption>
        {{/link-to}}
      </figure>
    </div>
  </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev" {{action 'previousPost'}}>
      <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next" {{action 'nextPost'}}>
      <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="main-display row col-md-12 well">
  {{#each post in model}}
      <figure>
        {{#link-to 'post' post}}
          <img src="../img/{{unbound post.image}}">
          <figcaption>{{post.title}}</figcaption>
        {{/link-to}}
      </figure>
  {{/each}}
</div>
